//general styles
body {
	font-size: 16px;
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}		

//styling titles
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 64px;
}

.title {
	text-align: center;
	padding-top: 3rem;
	margin-bottom: 3rem ;
	text-transform: uppercase;
	color: rgba(200,200,200,.8);
}

//stylilng links
a {
	text-decoration: none;
	cursor: pointer;
	color: #FFF;
}

ul {
	list-style-type: none;
}

//end of generals styles
//styling home section
.home {
	height: 100vh;
	background-color: rgb(66,170,207);
}	

.home-wrapper {
	height: 100%;
	background: url('https://res.cloudinary.com/hellvinter/image/upload/v1549709972/Portfolio/Travel_agency/bg/airport.png') center no-repeat;
	background-size: cover;
	opacity: .85;
}

//navigation
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: base-line;
	background-color: rgba(45,45,45,.8);
	position: fixed;
	width: 100%;
}

.navbar-brand {
	height: 4rem;
	width: 4rem;
	margin-left: 4rem;
	background:  url('https://res.cloudinary.com/hellvinter/image/upload/v1549713263/Portfolio/Travel_agency/logo/white-logo.png') center no-repeat;
	background-size: cover;
	padding: 2.5rem;
	&__link{
		padding: 1rem 3rem;
	}	
}

.nav {
	display: flex;
	align-items: center;
	margin-right: 3rem;
}	

.nav-item {
	margin-right: 3rem;
	padding: .2rem;
	text-transform: uppercase;
	position: relative;
}		

.nav-link {
	display: inline-block;	
}

.nav-link::after {
	content: '';
	display: block;
	height: 3px;
	background-color: #FFF;
	position: absolute;
	top: 25px;
	width: 0%;
	transition: all ease-in-out 250ms;
	}

.nav-link:hover::after {
	width: 100%;
}
	
//////////////CONTENT OF HOME////////////	
.main-title {
	text-align: center;
	transform: translateY(200%);
	color: #FFF;
}
		
.title div {
	margin-top: 1.5rem;
	font-size: .5em;
}
	
//////STYLING ABOUT SECTION/////////
.about {
	height: 100%;
	background: #ddd;
	padding-bottom: 2rem;
	overflow: hidden; //try another fix
	.title {
		color: rgba(43,43,43,.7);
	}
}
	
///////////STYLING CARDS/////////
//row flex for align cards
.row-1 {
	display: flex;
	justify-content: space-around;
}	
.row-2 {
	display: flex;
	justify-content: space-evenly;
}
		
//sryling inner space of cards
.card {
	background: rgba(43,43,43,.75);	
	border: 2px solid rgba(200, 43, 43,.9);
	border-radius: 10% 0%;
	box-shadow: 1px 0px 10px #000;
	width: 11rem;
	&_img {
		display: block;
		margin: 0 auto;
	}		
	&_title {
		text-align: center;
		margin: .5rem;
		opacity: .8;
		color: #fff;
	}
	&_text {
		text-align: center;
		padding: .5rem;
		letter-spacing: .02rem;
		opacity: 1;
		color: #fff;
	}
}	

//Styling tours section		
.tours {
	height: 90vh;
	& .title {
		color: rgba(225,225,225,.9);
	}
}
	
.tours-wrapper {
	height: 100vh;
	background: rgb(43,43,43);
}
	
//Styling grid area
//Grid items

//portugal
#item-1 {
	grid-area: first;
	background: #ddd url('https://res.cloudinary.com/hellvinter/image/upload/v1549636388/Portfolio/Travel_agency/tours/portugal-839817_960_720.png') center no-repeat;
	background-size: cover;
}

//Yellow mountains
#item-2 {
	grid-area: second;
	background: #ddd url('https://res.cloudinary.com/hellvinter/image/upload/v1549636386/Portfolio/Travel_agency/tours/yellow-mountains-532857_960_720.png') center no-repeat;
	background-size: cover;
}

//Japan
#item-3 {
	grid-area: third;
	background: #ddd url('https://res.cloudinary.com/hellvinter/image/upload/v1549636391/Portfolio/Travel_agency/tours/torii-1886975_960_720.png') center no-repeat;
	background-size: cover;
}	

//Birma
#item-4 { 
	grid-area: fourth;
	background: #ddd url("https://res.cloudinary.com/hellvinter/image/upload/v1549636388/Portfolio/Travel_agency/tours/birma.png") center no-repeat;
	background-size: cover;
}

//Germany
#item-5 {
	grid-area: fifth;
	background: #ddd url('https://res.cloudinary.com/hellvinter/image/upload/v1552127903/Portfolio/Travel_agency/tours/neuschwanstein-castle.png') right center no-repeat;
	background-size: cover;
}

//USA
	#item-6 {
	grid-area: sixth;
	background: #ddd url('https://res.cloudinary.com/hellvinter/image/upload/v1549636385/Portfolio/Travel_agency/tours/architecture-1868265_960_720.png') center no-repeat;
	background-size: cover			
}		

//Grid itself
.grid-container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 20% [col-start]);
	grid-template-rows: 20vh 15vh 25vh;
	grid-template-areas:
		" first second third fourth"
		" first second third fifth"
		" sixth sixth sixth sixth";
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
}

//tours typography
//centering text
.grid-item {
	display: flex;
	&:hover {
		transform: scale(1.1);
		.tours_name {
			opacity: 1;
		}
	}
}

.tours_name {
	font-size: 1.5rem;
	margin: auto;
	color: #fff;
	opacity: 0;
}

//styling testimonials section
.testimonials {
	height: 90vh;
	background: #ddd;
	overflow: hidden;
	.title {
		color: rgba(43,43,43,.7);
		margin-bottom: 2rem;
	}
	.testimonials_wrapper {
		display: flex;
		justify-content: center;
	}
}

.testimonials_video {
	width: 45.625rem;
	height: 25rem;
}

//styling info section

.info {
	height: 50%;
	background: rgb(43,43,43) url('https://res.cloudinary.com/hellvinter/image/upload/v1549974321/Portfolio/Travel_agency/bg/landscape-2.png') center no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;       
	.title{
		color: rgba(255,255,255,.9)
	}
}

.receive_info {
	height:25%;
	margin-top: 3.9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.receive_info__input{
	margin-top: 3.5rem;
}

.email{
	padding: .5rem;
	border: 1px solid green;
	border-radius: 25px;
}

.btn{
	border: 1px solid green;
	border-radius: 20px;
	background: green;
	padding: .4rem 1rem;
	font-size: 1.2rem;
	color: rgb(255,255,255);
	text-transform: uppercase;
	opacity: .9;
	&:hover {
		cursor: pointer;
	}
	&:active {
		transform: scale(.95);
		border: 1px solid #42aacf;
	}
}
//styling footer
.footer {
	height: 20%;
	background: rgb(43,43,43);
}

.row {
	heigth: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.wrapper {
	height: 100%;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact {
	color: #FFF;
}

.copyright {
	color: #FFF;
	margin-top: 2rem;
	}

.copyright {
	align-self: flex-end;	
}

.media {
	display: flex;
	justify-content: center;
}

.media-item {
	margin-right: .3rem;
}
//////////Media queries////////




/////////////STYLING TOURS PAGES//////////////
.container {
	position: relative;
	height: 100%;
	background: rgb(43,43,43);
	.container_text {
	font-size: 20px;
	color: #ddd;
	}
}

.container_img {
	width: 960px;
	height: 720px;
	float: left;
	margin-bottom: 1rem;
	margin-right: 1rem;	
}

#container_img-1 {
	background: rgb(43,43,43) url("https://res.cloudinary.com/hellvinter/image/upload/v1549636388/Portfolio/Travel_agency/tours/portugal-839817_960_720.png") center no-repeat;
	background-size: cover;
}
#container_img-2 {
	background: rgb(43,43,43) url("https://res.cloudinary.com/hellvinter/image/upload/v1549636386/Portfolio/Travel_agency/tours/yellow-mountains-532857_960_720.png") center no-repeat;
	background-size: cover;
}
#container_img-3 {
	background: rgb(43,43,43) url("https://res.cloudinary.com/hellvinter/image/upload/v1549636391/Portfolio/Travel_agency/tours/torii-1886975_960_720.png") center no-repeat;	
	background-size: cover;
}
#container_img-4 {
	background: rgb(43,43,43) url("https://res.cloudinary.com/hellvinter/image/upload/v1549636388/Portfolio/Travel_agency/tours/birma.png") center no-repeat;
	background-size: cover;
}
#container_img-5 {
	background: rgb(43,43,43) url("https://res.cloudinary.com/hellvinter/image/upload/v1549636386/Portfolio/Travel_agency/tours/neuschwanstein-532850_960_720.png") center no-repeat;
	background-size: cover;
}
#container_img-6 {
	background: rgb(43,43,43) url("https://res.cloudinary.com/hellvinter/image/upload/v1549636385/Portfolio/Travel_agency/tours/architecture-1868265_960_720.png") center no-repeat;
	background-size: cover;
}
	



